<!-- 模态框（Modal） -->
<div class="modal fade " style="width:800px;display:none !important" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog " >
    <div class="modal-content " >
      <div class="modal-header ">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          &times;
        </button>
        <h4 class="modal-title" id="myModalLabel">
          站内信管理
        </h4>
      </div>
      <div class="modal-body">
          <div class="widget-box">
            <div class="widget-title"> <span class="icon"> <i class="icon-info-sign"></i> </span>
              <h5>发送站内信</h5>
            </div>
            <div class="widget-content nopadding">
              <form class="form-horizontal" action="/mailer/insert" method="post"  name="basic_validate" id="basic_validate" novalidate="novalidate">
                <div class="control-group">
                  <label class="control-label">收件人</label>
                  <div class="controls" id="div1">
                    <input type="text" name="username" id="name" autocomplete="off" maxlength="20" readonly>
                    <select id="select">
                      <option>请选择收件人</option>
                      {foreach name="data1" item="row1"}
                      <option>{$row1.username}</option>
                      {/foreach}
                    </select>
                  </div>
              
                </div>
                <div class="control-group">
                  <label class="control-label">标题</label>
                  <div class="controls">
                    <input type="text" name="title" id="title" maxlength="20">
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label">内容</label>
                  <div class="controls">
                    <textarea name="content" maxlength="50" id="cont"></textarea>
                  </div>
                </div>
                <div class="form-actions">
                  <input type="submit" value="发送" class="btn btn-success">
                </div>
              </form>
            </div>
          </div>
      </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭
        </button>
      </div>
    </div>
  </div>