{extend name="AdminPublic:public"}
{block name="main"}
 <div id="content-header">
  <div id="breadcrumb">
   <a href="/admin/index" class="tip-bottom" data-original-title="Go to Home"><i class="icon-home"></i>首页</a>
   <a href="/hall/list" class="current">放映厅管理</a><a href="/hall/list" class="current">放映厅列表</a><a href="javascript:history.go(-1)" class="current"><i class="icon-undo"></i>后退</a>
  </div>
 </div>
<div class="container-fluid">
  <div class="row-fluid">
   <div class="span12">
    <div class="widget-box">
     <div class="widget-title">
      <span class="icon"><i class="icon-th"></i></span>
      <h5>放映厅列表</h5>
     </div>
     <div class="widget-content nopadding">
      <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper" role="grid">
       <div class="">
        <div id="DataTables_Table_0_length" class="dataTables_length">
          <a href="/hall/add" class="btn btn-primary">添加放映厅</a>
        </div>
       </div>
       <table class="table table-bordered data-table dataTable" id="DataTables_Table_0">
        <thead>
         <tr role="row">
         	<th class="ui-state-default" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 21px;">
           <div class="DataTables_sort_wrapper">
			选择
            <span class="DataTables_sort_icon css_right ui-icon ui-icon-triangle-1-n"></span>
           </div></th>
          <th class="ui-state-default" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 21px;">
           <div class="DataTables_sort_wrapper">
            ID
            <span class="DataTables_sort_icon css_right ui-icon ui-icon-triangle-1-n"></span>
           </div></th>
		<th class="ui-state-default" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 81px;">
           <div class="DataTables_sort_wrapper">
            放映厅名称
            <span class="DataTables_sort_icon css_right ui-icon ui-icon-triangle-1-n"></span>
           </div></th>
          <th class="ui-state-default" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 36px;">
           <div class="DataTables_sort_wrapper">
            座位数
            <span class="DataTables_sort_icon css_right ui-icon ui-icon-carat-2-n-s"></span>
           </div></th>
          <th class="ui-state-default" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 256px;">
           <div class="DataTables_sort_wrapper">
            形状
            <span class="DataTables_sort_icon css_right ui-icon ui-icon-carat-2-n-s"></span>
           </div></th>
          <th class="ui-state-default" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 36px;">
           <div class="DataTables_sort_wrapper">
            状态
            <span class="DataTables_sort_icon css_right ui-icon ui-icon-carat-2-n-s"></span>
           </div></th>
          <th class="ui-state-default" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending" style="width: 106px;">
           <div class="DataTables_sort_wrapper">
            操作
            <span class="DataTables_sort_icon css_right ui-icon ui-icon-carat-2-n-s"></span>
           </div></th>
         </tr>
        </thead>
        <tbody role="alert" aria-live="polite" aria-relevant="all">
        {foreach name="$halls" item="row"}
         <tr class="gradeA odd text-center">
          <td class="  sorting_1">
          	<input type="checkbox" value="{$row.id}">
          </td>
          <td class="">{$row.id}</td>
          <td class="" title="{$row.hallname}">{$row.hallname}</td>
          <td class="">{$row.hallnum}</td>
          <td class="" title="{$row.hallLayout}">{$row.hallLayout|mb_substr=0,38,'utf-8'}...</td>
          <td class="td-status">{if condition="$row.status==0"}<span class="btn btn-mini btn-warning">已启用</span>{else}<span class="btn btn-mini btn-inverse">已禁用</span>{/if}</td>
          <td class="td-manage">
          	{if condition='$row.status==1'}
            <a href="JavaScript:;" onclick="start('{$row.id}')" idname="{$row.id}" class="btn btn-mini btn-warning"  title="启用"><i class="icon  icon-ok-sign"></i></a>
            {else}
            <a href="JavaScript:;" onclick="stop('{$row.id}')" idname="{$row.id}" class="btn btn-mini btn-inverse"  title="禁用"><i class="icon icon-minus-sign"></i></a>
            {/if}
            <a href="/hall/edit/id/{$row.id}" class="btn btn-mini btn-info" title="修改"><i class="icon icon-pencil"></i></a>
            <a href="JavaScript:void(0);"  class="btn btn-mini btn-danger" delname="{$row['id']}" onclick="del({$row.id})" title="删除"><i class="icon icon-remove"></i></a>
          </td>
         </tr>
          {/foreach}
          <tr>
          	<td colspan="5" style="text-align:left">
				<a href="javascript:void(0)" class="btn btn-success allchoose">全选</a> <a href="javascript:void(0)" class="btn btn-danger nochoose">全不选</a> <a href="javascript:void(0)" class="btn btn-info fchoose">反选</a>
				<a href="javascript:void(0)" class="btn btn-success dels">批量删除</a>
          	</td>
          	<td  colspan="5" style="text-align:right;border-left:0px">
				<div id="pages" style="position:absolute;right:10px">
              {$halls->appends($request)->render()}
           		</div>
          	</td>
          </tr>
          <tr>
       	  </tr>
        </tbody>
       </table>
          <div class="dataTables_filter" id="DataTables_Table_0_filter">
            <form action="">
              <label>放映厅名称: <input type="text" name="keywords" value="{$keywords}" aria-controls="DataTables_Table_0"><input type="submit" class="btn btn-info" value="搜索"></label>
            </form>
          </div>
           <div class="dataTables_paginate fg-buttonset ui-buttonset fg-buttonset-multi ui-buttonset-multi paging_full_numbers" id="DataTables_Table_0_paginate">
          </div>
        </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
</div>
<script src="/static/admins/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/admins/lib/layer/2.4/layer.js"></script>
<script>

// 启用
function start(id){
  obj = $("a[idname="+id+"]");
  layer.confirm('确认要启用吗？',function(index){
    $.get("/hall/change",{id:id,status:0},function(data){
      if(data){
        if(data['code']==0){
          layer.msg(data['msg'],{icon:2,time:3000});
        }else{
          obj.parents("tr").find(".td-manage").prepend('<a href="JavaScript:;" onclick="stop('+id+')" idname="'+id+'" class="btn btn-mini btn-inverse"  title="禁用"><i class="icon icon-minus-sign"></i></a>');
          obj.parents("tr").find(".td-status").html('<span class="btn btn-mini btn-warning">已启用</span>');
          obj.remove();
          layer.msg('已启用!',{icon: 6,time:1000});
        }
      }
    });
  });
}
//禁用
function stop(id){
   obj = $("a[idname="+id+"]");
  layer.confirm('确认要禁用吗？',function(index){
    $.get("/hall/change",{id:id,status:1},function(data){
      if(data){
        if(data['code']==0){
          layer.msg(data['msg'],{icon:2,time:3000});
        }else{
          obj.parents("tr").find(".td-manage").prepend('<a href="JavaScript:;" onclick="start('+id+')" idname="'+id+'" class="btn btn-mini btn-warning"  title="启用"><i class="icon  icon-ok-sign"></i></a>');
          obj.parents("tr").find(".td-status").html('<span class="btn btn-mini btn-inverse">已禁用</span>');
          obj.remove();
          layer.msg('已禁用!',{icon: 5,time:1000});
        }
      }
    });
  });
}

//jq和ajax删除
function del(id){
	//找到具体节点对象tr
	ss=$("a[delname="+id+"]").parents("tr");
	//layer插件
	layer.confirm('确认要删除吗？',function(index){
		//ajax交互数据 传入id
		$.get("/hall/delete",{id:id},function(data){
			//判断传回的数据
			if(data){
        if(data['code']==0){
          layer.msg(data['msg'],{icon:2,time:3000});
        }else{
  				ss.remove();
  				layer.msg('删除数据成功!',{icon: 1,time:2000});
        }
			}
		});
	});
}

//全选
$(".allchoose").click(function(){
	$("#DataTables_Table_0").find("tr").each(function(){
		$(this).find(":checkbox").attr("checked",true);

	});

});

//全不选
$(".nochoose").click(function(){
	$("#DataTables_Table_0").find("tr").each(function(){
		$(this).find(":checkbox").attr("checked",false);

	});

});

//反选
$(".fchoose").click(function(){
	$("#DataTables_Table_0").find("tr").each(function(){
		if($(this).find(":checkbox").attr("checked")){
			$(this).find(":checkbox").attr("checked",false);

		}else{
			$(this).find(":checkbox").attr("checked",true);
		}
	});
})

//ajax批量删除
$(".dels").click(function(){
	arr=[];
	$(":checkbox").each(function(){
		if($(this).attr("checked")){
			id=$(this).val();
			arr.push(id);
		}

	});

	$.get("/hall/dels",{arr:arr},function(data){
		if(data){
      if(data['code']==0){
        layer.msg(data['msg'],{icon:2,time:3000});
      }else{
  			for(var i=0;i<arr.length;i++){
  				$("input[value="+arr[i]+"]").parents("tr").remove();
  			}
        layer.msg('删除数据成功!',{icon: 1,time:2000});
      }
		}else{
			layer.msg('至少选择一条数据',{icon: 2,time:3000});
		}
	});
})
</script>
{/block}
{block name="title"}放映厅列表{/block}
{block name="style2"}style="display:block"{/block}
{block name="menu2"}open{/block}