  <div class="movie-info">
    <div>
      <h3 class="movie-name">{$m.ch_name}</h3>
      <span class="score sc">{$grade}</span>
    </div>
    <div class="movie-desc">
      <div>
        <span class="key">时长 :</span>
        <span class="value">{$m.m_time}分钟</span>
      </div>
      <div>
        <span class="key">类型 :</span>
        <span class="value"> {$m.m_type} </span>
      </div>
      <div>
        <span class="key">主演 :</span>
        <span class="value"> {$m.m_director}</span>
      </div>
    </div>
  </div>
  <div class="plist-container active">
    <table class="plist">
      <thead>
        <tr>
          <th>放映时间</th>
          <th>语言版本</th>
          <th>放映厅</th>
          <th>售价（元）</th>
          <th>选座购票</th>
        </tr>
      </thead>
      <tbody>
        {foreach name="relss" item="rows"}
        <tr class="">
          <td>
             <span style="color:red">{$rows.day|substr="5"}</span>
            <span class="begin-time">{$rows.start_time}</span>
            <br />
            <span class="end-time">{$rows.end_time}散场</span>
          </td>
          <td>
            <span class="lang">{$rows.laguage}{if condition="$rows.m_version==0"}2D{elseif condition="$rows.m_version==1"}3D{else}2D/3D{/if}</span>
          </td>
            <td>
              <span class="hall">{$rows.hallname}</span>
            </td>
          <td>
            <span class="sell-price"><span class="stonefont">{$rows.m_price}</span></span>
          </td>
          <td>
              <a href="/seats/{$rows.id}-{$rows.hid}-{$rows.mid}-{$rows.cid}" class="buy-btn normal">选座购票</a>
          </td>
        </tr>
        {/foreach}
      </tbody>
    </table>
  </div>
  <div class="plist-container "></div>


