{extend name="AdminPublic:public"/}
{block name="main"}
<style>.table td{text-align:center;}.iradio-blue{line-height:50px}</style>
  <div id="content-header">
    <div id="breadcrumb">
     <a href="/link/index" class="tip-bottom" data-original-title="去首页"><i class="icon-home"></i>首页</a>
     <a href="/link/list" class="current">友情链接管理</a><a href="/link/add" class="current">添加友情链接</a><a href="javascript:history.go(-1)" class="current"><i class="icon-undo"></i>后退</a>
    </div>
   </div>
  <div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
          <div class="widget-box">
            <div class="widget-title"> <span class="icon"> <i class="icon-info-sign"></i> </span>
              <h5>添加友情链接</h5>
            </div>
            <div class="widget-content nopadding">
              <form class="form-horizontal" action="/link/insert" method="post" name="basic_validate" id="basic_validate" novalidate="novalidate" enctype="multipart/form-data">
              	<div class="control-group">
                  <label class="control-label">链接类型</label>&nbsp;
                  <label class="radio" style="margin-left:35px;line-height:40px"><input type="radio" name="k_type" id="k_type" style="margin-top:14px" value="0" checked>文字链接</label>
                 <label class="radio" style="margin-left:35px;line-height:40px"><input type="radio" name="k_type" id="k_type" style="margin-top:14px" value="1">LOGO链接</label>
               </div>
                <div class="control-group">
                  <label class="control-label">网站名称</label>
                  <div class="controls">
                    <input type="text" name="title" id="ch_name">
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label">网站地址</label>
                  <div class="controls">
                    <input type="text" name="url" id="ch_name">
                  </div>
                </div>
                <div class="control-group">
  	              <label class="control-label">网站LOGO</label>
  	              <div class="controls">
  	                <input type="file" size="19" style="opacity: 1;" id="k_pic" name="k_pic">
  	              </div>
  	            </div>
                <div class="control-group">
	              <label class="control-label">网站简述</label>
	              <div class="controls">
	                <textarea class="span6" name="desc"></textarea>
	              </div>
	            </div>
	            <div class="control-group">
                  <label class="control-label">添加时间</label>
                  <div class="controls">
                    <input type="text" name="k_addtime" id="k_addtime" onClick="WdatePicker({skin:'default',minDate:'%y-%M-%d',maxDate:'2099-12-30'})" class="Wdate" autocomplete="off" value="">
                  </div>
                </div>
               <div class="control-group">
                  <label class="control-label">前台显示</label>&nbsp;
                  <label class="radio" style="margin-left:35px;line-height:40px"><input type="radio" name="display" id="display" style="margin-top:14px" value="0" checked>是</label>
                 <label class="radio" style="margin-left:35px;line-height:40px"><input type="radio" name="display" id="display" style="margin-top:14px" value="1">否</label>
               </div>
                <div class="form-actions">
                  <input type="submit" value="提交" class="btn btn-success">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{/block}
{block name="title"}友情链接添加{/block}
{block name="style10"}style="display:block"{/block}
{block name="menu10"}open{/block}
