{extend name="AdminPublic:public"}
{block name="main"}
<div id="content-header">
  <div id="breadcrumb">
   <a href="/admin/index" class="tip-bottom" data-original-title="去首页"><i class="icon-home"></i>首页</a><a href="/ads/list" class="current">广告管理</a>
   <a href="javascript:;" class="current">修改广告详情</a><a href="javascript:history.go(-1)" class="current"><i class="icon-undo"></i>后退</a>
  </div>
 </div>
<div class="container-fluid">
  <div class="row-fluid">
      <div class="span12">
        <div class="widget-box" style="opacity:1;position:fixed;box-shadow: darkgrey 10px 10px 20px 5px;">
          <div class="widget-title"> <span class="icon"> <i class="icon-info-sign"></i> </span>
            <h5>修改详情</h5>
          </div>
          <div class="widget-content nopadding">
            <form class="form-horizontal" method="post" action="/ads/update" enctype="multipart/form-data">
            <div class="control-group span12">
            	<div class="span4">
	                <label class="control-label"><i class="icon-link" style="margin-right:10px;"></i>名 字 :</label>
	                <div class="controls">
	                  <input type="text" name="name" value="{$data.name}" >
	                </div>
	            </div>
	            <div class="span4">
	                <label class="control-label"><i class="icon-bullhorn" style="margin-right:8px;"></i>描 述 :</label>
	                <div class="controls " class="span3">
	                  <input type="text" name="desc" value="{$data.desc}">
	                </div>
	             </div>
	        </div>



	        <div class="control-group span12" style="margin:0;" >
	        	<div class="span4">
					<label class="control-label"><i class="icon-picture" style="margin-right:8px;"></i>图 片 :</label>
		            <div class="controls " class="span3">
		            	<ul class="thumbnails">
							<li class="span12">
							<img src="{$data.picurl}" width="70px" alt=""><div class="actions"><a class="lightbox_trigger" href="{$data.opic}"><i class="icon-search"></i></a></div></li>
						</ul>
		            </div>
		        </div>
	            <div class="span4">
	                <label class="control-label"><i class="icon-picture" style="margin-right:7px;"></i>上 传 : </label>
	                <div class="controls">
     					<input type="file" name="file"/>
	            	</div>
	            </div>
	        </div>
            <div class="form-actions">
            	<input type="hidden" name="id" value="{$data.id}">
            	<input type="hidden" name="pic" value="{$data.picurl}">
                <input type="submit" value="提交" class="btn btn-success" style="margin-top:15px;">
            </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/static/admins/js/jquery.min.js"></script>
<script src="/static/admins/js/matrix.form_common.js"></script>
{/block}
{block name="title"}修改广告{/block}
{block name="style9"}style="display:block"{/block}
{block name="menu9"}open{/block}